#homepage {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.error-message {
  color: red;
}

.incomplete-profile-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
}

.cancel-icon {
  cursor: pointer;
}

.completion-message {
  margin-top: 10px;
  color: green;
  font-weight: bold;
}

.event-title{
  background-color: #eaf1f2;
  height: 20px;
}